*{
    max-width: 100%;
}

.imagem_01{
    max-width: 130px;
    position: relative;
    top:30px;
    right: 15px;
}

.titulo{
    text-align: center;
    font-size: 90px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}