/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (max-width: 992px) {
   
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (max-width: 768px) {
   
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {

*{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 auto;
}

.container{
    padding: 10px;
    font-size: 10px;
}
    
.string1{
    margin-left: 10px;
}
    
.string2{
    margin-right: 0px;
}

.container-3{   
    margin: auto;
    padding: 20px;
}

.img-01, .img-02, .img-03{
    display: none;
}

.container-5{
    margin: 20px;
    padding: 40px;
}

.container-6{
    margin-top: 10px;
}
    
.container-7{
    
}
    
.container-8{
    margin: 10px;
}
    
.string3{
    padding: 10px;
}

.container-9{
    margin-top: 50px;
}

.container-10{

}

.container-11{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 100px;
    font-size: 13px;
}

 
li{
    list-style-type: none;
    text-decoration: none;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.container-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.container-13{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between; 
    padding: 0px 100px 0px 100px;
    align-items: center; 
    flex-wrap: wrap; 
    font-weight: bold;
}



}
