*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./img/Imagem1.jpg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-01{
    border-radius: 600px;
    border: 5px solid rgba(231, 175, 138, 0.705);
    width: 200px;
}

.img-02{
    border-radius: 600px;
    border: 1px solid rgba(231, 175, 138, 0.705);
    width: 180px;
    margin-right: 50px;
}

.img-03{
    border-radius: 100px;
    width: 180px;
    border: 1px solid rgba(231, 175, 138, 0.705);
}

.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.container02{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.container03{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.elemento-01{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 50px;
    color: white;
}

.elemento-02{
    text-align: center;
    align-items: center;
}

.elemento-03{
    text-align: center;
    align-items: center;
    background-color: rgba(231, 175, 138, 0.705);
    padding: 10px;
}

.elemento-04{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: antiquewhite;
    width: 220px;
    margin-top: 20px;
    border-radius: 5px;
}

.span-01{
    font-size: 20px;
    color: white;
}

.span-02{
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}

.span-02:hover{
    background-color: rgba(231, 175, 138, 0.705);
}
