@media screen and (max-width: 1200px) {

    *{
        margin: 0 auto;
        box-sizing: border-box;
        max-width: 600px;
    }

    .photo{
        max-width: 100px;
    }

    #title, .subtitle{
        font-size: 20px;
        padding: 5px;
    }

    .post_title{
        font-size: 15px;
    }

}

@media screen and (max-width: 600px) {

    .post_image{
        display: none;
    }

    .post{
        max-width: 500px;
    }

}