body{
    background:rgb(92,36,132);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Containers */
.container{
    display: flex;
    font-size: 20px;
}

.container-01{
    display: flex;
    align-items: center;
    padding: 30px 0px 10px 30px;
}

.container-02, .container-03{
    padding-top: 50px;
    padding-left: 100px;
}

#container-04{ 
    display: none; /* a função "display: none" serve para ocultar o conteúdo da tela*/
}

#container-05{ 
    display: none; /* a função "display: none" serve para ocultar o conteúdo da tela*/
}

#container-06{ 
    display: none; /* a função "display: none" serve para ocultar o conteúdo da tela*/
}

#container-07{ 
    display: none; /* a função "display: none" serve para ocultar o conteúdo da tela*/
}

/* Imagens */
.img-01{
    border-radius: 100%;
    border: 5px solid white;
    width: 140px;
    margin-left: 40px;
    margin-top: 10px;
}

/* Elementos de Botão */
.elemento-01{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border: 1px solid white;
    width: 400px;
    height: 40px;
    margin: 10px;  
    padding: 7px;
    border-radius: 10px;
}

.elemento-01:hover{
    background-color: rgb(92,36,132);
    color: white;
}

/* Textos */
#texto-01, #texto-03_1{
    font-size: 25px;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10px; 
    background: white; 
    border-radius: 10px;    
}

#texto-02{
    font-size: 17px;
    text-align: center;
    width: 800px;
    margin: auto;
    background-color: white; 
    padding: 20px;  
    border-radius: 10px;
}

#texto-04{
    font-size: 25px;
    text-align: center;
    width: 350px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 45px;
    background-color: white; 
    padding: 10px;    
    border-radius: 10px;   
}

#texto-05{
    font-size: 16px;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: white; 
    padding: 15px;  
    border-radius: 10px;
}

#span-01{
    font-size: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
